.left img{
    width: 44px;
    height: 47px;
    padding: 2px 18px;
    /* border: 2px solid white; */
    display: inline-block;
    left : 34px;
    top: 22px;
    position: absolute;

}
.navbar{
    display: block;
    /* border: 2px solid yellow; */
    width: 40%;
    margin: 20px auto;
}
.navbar ul{
    overflow: auto;
    display: inline-block;
}
.navbar li{
    list-style: none;
    padding: 2px 10px;
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 2px 8px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: #ed996f ;
    font-family: 'Libre Baskerville', serif;
    
}
body{
    background: url('brown-brick-exterior-night.jpg');
    font-family: 'Libre Baskerville', serif;
    background: cover;
}
.right{
    /* border: 2px solid white; */
    display: inline-block;
    right: 34px;
    top: 22px;
    position: absolute;
    padding: 11px 22px;
    margin: 5px 5px;
}
/* .btn{ */
    
/* } */
