*{
    margin: 0!important;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 8px;

}
body::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #f08753;
}
body::-webkit-scrollbar-track{
    width: 8px;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.left img{
    width: 40px;
}
.nav{
    width: 100%;
    padding: 23px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
    background: url('brown-brick-exterior-night.jpg');
}
.herosection{
    
    font-family: 'Poppins', sans-serif;
    background-size: cover ;
    position:relative;
    height: 100vh;
    z-index: 4;
}
.black::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 3;
    opacity: 0.3;
    top: 0;
    left: 0;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    list-style: none;
    padding: 2px 20px;
}
.navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px 8px;
}
.navbar li a:hover{
    color: #f08753 ;
    font-family: 'Poppins', sans-serif;    
}

.btn{
    border-radius: 20px;
    border-color: white; 
    letter-spacing: 2px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0.9rem 1.9rem;
    font-weight: 1000;
}
a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #f08753;
}

.mainbox-heading{
    font-size: 3rem;
}

@media (max-width: 1024px){
  .mainbox-heading{
    font-size: 2.4rem;
    text-align: center;
  }
}


@media (max-width: 767px){
  .mainbox-heading{
    font-size: 1.8rem;
    text-align: center;
  }
}

.mainbox-text{
    font-size: 1.1rem;
}

@media (max-width: 1024px){
  .mainbox-text{
    font-size: 0.8rem;
    text-align: center;
  }
}


@media (max-width: 767px){
  .mainbox-text{
    font-size: 0.6rem;
    text-align: center;
  }
}




.main{
    display: grid;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 120px 60px;
}
.search{
    border-radius: 10px;
    padding: 1rem 1rem 1rem 3rem;
    width: 40%;
    outline: none;
    background: transparent;
    border: 2.5px solid white;
    color:white;
    font-size: 20px;

}

@media (max-width:1024px){
  .search{
    width: 35%;
    font-size: 17px;
    padding: 9px 9px 9px 9px;
  }
}

.searchbnt{
    display: flex;

}

@media (max-width:1024px){
  .searchbnt{
    align-items: center;
  }
}

.searchimg{
    background: transparent;
    border: none;
    transform: translate(14px,18px);
    position: absolute;
}



.searchimg span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

@media (max-width:1024px){
  .searchimg{
    font-size: 08px;
  }
}

.search::placeholder{
    color: white;
    opacity: 0.6;
}
.loginbtn{
    /* width: fit-content; */
    padding: 2rem 0rem 0rem 6rem;
}
.started{
    border-radius: 35px;
    padding: 1rem 2rem 1rem 2rem;
    width: 25%;
    outline: none;
    background: #f08753;
    border: 2.5px solid white;
    color:white;
    font-size: 1.25rem;
    /* display:flexbox; */
}

@media (max-width:1024px){
  .started{
    text-align: center;
    font-size: 0.55rem;
    width: 21%;
    border-radius: 25px;
  }
}



.started:hover{
    background-color: #fc671c;
}
.signup{
    border-radius: 35px;
    padding: 1rem 2rem 1rem 2rem;
    width: 15%;
    outline: none;
    background: transparent;
    border: 2.5px solid white;
    color:white;
    font-size: 20px;
}
.signup:hover{
    background-color: #858585;
}



/* Our services page ******************** */
.service-box h3{
  margin: 5px 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.service-box p{
  margin: 0 0 10px;
  font-family: sans-serif;
}

.service-box img{
  width: 100%; 
}


/* Footer section *****************************  */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#f08753;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#f08753;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#f08753
}
.social-icons a.twitter:hover
{
  background-color:#f08753
}
.social-icons a.linkedin:hover
{
  background-color:#f08753
}
.social-icons a.dribbble:hover
{
  background-color:#f08753
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}